
<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>
<section class="about">
  <h1>日記共有サイト</h1>
  <p>
     日記共有サイトは、受講生によって作成されたアプリです。<br>
  </p>
  <p>
     日記共有サイトを一言で表すと、日記管理アプリです。<br>
     自分の日記を通して他のユーザーとコミュニケーションが出来ます
  </p>
  <img src="<%= asset_path "image.jpg" %>" class="img-responsive center-block">
</section>
