
  <p class="flash"><%= notice %><%= alert %></p>
<section class="about">
  <div class="ribbon5">
    <h3>WELCOME TO DIARY PLAYER</h3>
  </div>
  <div>
    <p>DIARY　PLAYERの内容は日記管理アプリ</p>
    <p>自分の日記を通して他のユーザーとコミュニケーションして仲良くなりましょう</p>
  </div>
  <p><img src="<%= asset_path "image.jpg" %>" class="img-responsive center-block"></p>
</section>
