
<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="">
</section>
<section class="about">
  <h1>About event planner</h1>
  <p>
     event plannerは、受講生によって作成されたアプリです。<br>
  </p>
  <p>
     event plannerを一言で表すと、イベント管理アプリです。<br>
     登録者が、今どのようなイベントを管理しているか把握することができます。
  </p>
</section>
