<div class="container">
<h2>お知らせ</h2>
<ul>
  <% @notifications.each do |notification| %>
  <div class="box14">
  <hr>
      <p>
        <%= notification.comment.user.try(:name) %>さんが
        あなたの日記（<%= link_to "#{notification.comment.event.title}", event_path(notification.comment.event, notification_id: notification.id) %>）にコメントしました。
      </p>
      <p><%= notification.created_at %></p>
  </div>
  <% end %>
</ul>
</div>
